<p style="color: green"><%= notice %></p>

<%= render @user %>

<%# 演習 2.3.3 (1) の回答 %>
<% if @user.microposts.any? %>
  <p>
    <strong>First micropost:</strong>
    <%= @user.microposts.first.content %>
  </p>
<% end %>

<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>
