<div id="<%= dom_id sample_form %>">
  <p>
    <strong>Text:</strong>
    <%= sample_form.text %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= sample_form.password %>
  </p>

  <p>
    <strong>Search:</strong>
    <%= sample_form.search %>
  </p>

  <p>
    <strong>Tel:</strong>
    <%= sample_form.tel %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= sample_form.url %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= sample_form.email %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= sample_form.number %>
  </p>

  <p>
    <strong>Range:</strong>
    <%= sample_form.range %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= sample_form.color %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= sample_form.date %>
  </p>

  <p>
    <strong>Datetime local:</strong>
    <%= sample_form.datetime_local %>
  </p>

  <p>
    <strong>Month:</strong>
    <%= sample_form.month %>
  </p>

  <p>
    <strong>Week:</strong>
    <%= sample_form.week %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= sample_form.time %>
  </p>

  <p>
    <strong>Checkbox:</strong>
    <%= sample_form.checkbox %>
  </p>

  <p>
    <strong>Radio:</strong>
    <%= sample_form.radio %>
  </p>

  <p>
    <strong>File:</strong>
    <%= sample_form.file %>
  </p>

  <p>
    <strong>Hidden:</strong>
    <%= sample_form.hidden %>
  </p>

</div>
