<p style="color: green"><%= notice %></p>

<%= render @sample_form %>

<div>
  <%= link_to "Edit this sample form", edit_sample_form_path(@sample_form) %> |
  <%= link_to "Back to sample forms", sample_forms_path %>

  <%= button_to "Destroy this sample form", @sample_form, method: :delete %>
</div>
